html {
    margin: 0;
    padding: 0;
    font-family: Urbanist, sans-serif;

    * {
        font-family: Urbanist, sans-serif;
    }

    /* Section 1 */
    .header {
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: white;
        padding: 20px 80px 0px 55px;
        margin-top: -0.6%;
        margin: 0;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(244, 243, 243, 0.916), 0 6px 20px 0 rgba(241, 239, 239, 0.938);

        .image {
            margin-right: 370px;
        }

        .list_div {

            ul {
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    /* font-family: Urbanist, sans-serif; */
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(72, 70, 70);
                    padding: 0 20px;

                    i {
                        font-size: 10px;
                        font-weight: 600;
                        color: rgb(29, 109, 238);
                    }

                    button {
                        font-size: 18px;
                        /* font-family: Urbanist, sans-serif; */
                        /* font-weight: 550; */
                        color: white;
                        padding: 11px 23px;
                        background-color: rgb(90, 184, 246);
                        /* background-color: dodgerblue; */
                        border: none;
                        border-top-right-radius: 28px;
                        border-bottom-left-radius: 28px;
                        border-bottom-right-radius: 28px;
                        border-top-left-radius: 28px;
                    }
                }
            }
        }
    }


    /* Section 2 */
    .section_2 {
        display: flex;
        align-items: center;
        padding: 11% 10% 2% 8%;
        /* margin: 100px 0; */

        div {
            width: 45%;
            margin: 0 1%;
            /* border: 1px solid; */

            img {
                height: 500px;
                width: auto;
                padding-left: 10px;
            }
        }

        .section_2_details {
            align-items: center;
            width: 500px;
            height: 510px;
            font-size: 52px;
            font-weight: 600;
            color: rgb(67, 62, 62);
            padding: 0;
            margin: 0 5% 1% -1.5%;

            .details {
                padding-top: 80px;
                margin: 0;

                /* animation duration and fill mode */
                .cssanimation {
                    animation-duration: 1s;
                    animation-fill-mode: both;
                    color: dodgerblue;
                    /* transform: translateY(0%); */
                }

                .cssanimation {
                    animation-name: moveFromTop;
                }

                /* moveFromTop animation keyframes */
                @keyframes moveFromTop {
                    from {
                        transform: translateY(-100%);
                    }
                }
            }

            ._bottom_details {
                /* font-family: Urbanist, sans-serif; */
                word-spacing: 4px;
                font-size: 20px;
                color: rgb(135, 132, 132);
                padding: 10px 0;
            }

            button {
                /* font-family: Urbanist, sans-serif; */
                color: white;
                font-size: 15.5px;
                font-weight: bold;
                background-color: rgb(90, 184, 246);
                padding: 18px 32px;
                border: none;
                border-radius: 35px;
            }
        }
    }


    /* section 2 Bottom */
    .section2_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            p {
                /* font-family: Urbanist, sans-serif; */
                color: rgb(103, 95, 95);
                font-size: 18px;
                padding-top: 50px;
            }
        }

        .section_image_div {
            display: flex;

            ul {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding-top: 20px;

                li {
                    list-style: none;
                    padding: 0 40px;

                    img {
                        height: auto;
                        width: 105px;
                    }
                }
            }
        }
    }



    /* Section 3 */
    .section_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0;
        width: 100%;
        margin: 13% 0;
        background-color: #f5fbfc;
        overflow: hidden;

        .spcer {
            width: 100%;
            max-width: 100%;
            position: absolute;
            top: 25%;
            z-index: -1;

            svg {
                min-width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                /* background-image: linear-gradient(rgb(228, 241, 255), white); */
                background-size: cover;
            }
        }

        .spcer2 {
            width: 100%;
            max-width: 100%;
            position: absolute;
            top: 390%;
            z-index: -1;
            rotate: 180deg;
            transform: scaleX(-1);

            svg {
                min-width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                /* background-image: linear-gradient(rgb(228, 241, 255), white); */
                background-size: cover;
            }
        }

        .section_3_div1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* font-family: Urbanist, sans-serif; */
            width: 50%;
            padding: 0;
            margin: 50px 0;

            .h4 {
                font-size: 15px;
                font-weight: 600;
                /* font-family: Urbanist, sans-serif; */
                color: rgb(0, 187, 255);
                padding: 0;
                margin: 0;
            }

            div {
                display: flex;

                .h6 {
                    font-weight: 600;
                    word-spacing: 7px;
                    font-size: 40px;
                    text-align: center;
                    /* font-family: Urbanist, sans-serif; */
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .section_3_div2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            /* font-family: Urbanist, sans-serif; */

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 500px;
                width: 30%;
                padding: 0 30px;

                img {
                    max-width: 105%;
                    min-height: 230px;
                    height: 230px;
                    max-height: 230px;
                }

                h5 {
                    padding: 35px 0 0 0;
                    margin: 0;
                    font-size: 24px;
                    color: rgb(66, 63, 63);
                }

                p {
                    max-width: 70%;
                    padding: 10px 0;
                    min-width: 300px;
                    margin: 0;
                    text-align: center;
                    color: rgb(81, 83, 81);
                    line-height: 30px;
                    font-size: 17px;
                }

                button {
                    padding: 0;
                    margin: 0;
                    font-size: 17px;
                    background: none;
                    border: none;
                    color: rgb(0, 187, 255);
                }
            }
        }

        .section_3_div3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 100px 0;

            div {
                width: 50%;
                max-width: 50%;

            }

            .section_3_div3_div1 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 50%;
                padding: 0 70px 0 95px;

                h3 {
                    padding: 10px 0;
                    margin: 0;
                    font-size: 15px;
                    color: rgb(0, 187, 255);
                    font-weight: bold;
                }

                h4 {
                    padding: 15px 0;
                    margin: 0;
                    color: rgb(70, 68, 68);
                    font-size: 40px;
                    font-weight: bold;
                }

                p {
                    padding: 10px 0;
                    color: grey;
                    font-size: 16px;
                    line-height: 28px;
                    /* font-weight: 550; */
                    font-weight: bold;
                    word-spacing: 3px;
                }

                button {
                    border: none;
                    font-size: 16px;
                    width: fit-content;
                    padding: 14px 33px;
                    border-radius: 28px;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(90, 184, 246);
                }
            }

            .section_3_div3_div2 {
                display: flex;
                flex-direction: column;
                padding-left: 2%;

                .one {
                    display: flex;
                    min-width: 80%;
                    padding: 28px 0 28px 30px;
                    margin: 20px 0;
                    box-shadow: 0 4px 8px 0 rgba(244, 243, 243, 0.916), 0 6px 20px 0 rgba(241, 239, 239, 0.938);
                }

                .two {
                    display: flex;
                    min-width: 80%;
                    padding: 28px 0 28px 30px;
                    margin: 20px 0 20px 62px;
                    box-shadow: 0 4px 8px 0 rgba(244, 243, 243, 0.916), 0 6px 20px 0 rgba(241, 239, 239, 0.938);
                }

                .three {
                    display: flex;
                    min-width: 80%;
                    padding: 28px 0 28px 30px;
                    margin: 20px 0 20px 15px;
                    box-shadow: 0 4px 8px 0 rgba(244, 243, 243, 0.916), 0 6px 20px 0 rgba(241, 239, 239, 0.938);
                }

                .number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(193, 246, 246);
                    text-align: center;
                    color: rgb(75, 167, 186);
                    font-size: 22px;
                    height: 60px;
                    width: 60px;
                    font-weight: 550;
                    border-radius: 50%;
                    margin: 0 25px 0 0;
                }

                .one_data {
                    display: flex;
                    flex-direction: column;
                    line-height: 35px;
                    min-width: 80%;

                    h3 {
                        font-size: 20px;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                    }
                }
            }
        }

        .section_3_div4 {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 60px 0;

            div {
                width: 60%;
            }

            .section_3_div_img {
                padding: 0 110px;

                img {
                    align-items: center;
                    width: 100%;
                }
            }

            .section_3_div_details {
                display: flex;
                width: 30%;
                height: auto;
                flex-direction: column;
                justify-content: center;

                h4 {
                    font-size: 15px;
                    padding: 0;
                    color: rgb(72, 152, 221);
                    font-weight: bold;
                }

                h5 {
                    color: rgb(88, 87, 87);
                    padding: 0;
                    margin: 20px 0;
                    word-spacing: 10px;
                    font-size: 40px;
                    font-weight: bold;
                }

                h6 {
                    padding: 0;
                    margin: 0;
                    line-height: 30px;
                    font-weight: bold;
                    font-size: 18px;
                    /* height: 25px; */

                    i {
                        font-size: 14px;
                        /* margin: 0 5px 0 0; */
                        color: rgb(108, 205, 205);
                    }

                    #hover_collapse,
                    #hover_collapse2,
                    #hover_collapse3 {
                        opacity: 0;
                        height: 0;
                        transition-timing-function: linear;
                        transition: 0.5s;
                    }

                    button {
                        background: none;
                        border: none;
                    }
                }
            }
        }
    }



    /* section 4 */
    .section_4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 100px 0;

        .section4_div1 {
            display: flex;
            align-items: center;
            padding: 0 100px;
            width: 100%;

            .section4_div1_one {
                width: 25%;
                padding: 0;
                margin: 0;
                word-spacing: 4px;

                h5 {
                    width: 100%;
                    color: dodgerblue;
                    font-weight: bold;
                    font-size: 15px;
                    padding: 10px 0;
                    margin: 0;
                }

                h3 {
                    width: 100%;
                    font-weight: bold;
                    font-size: 38px;
                    padding: 10px 0;
                    margin: 0;
                }

                p {
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                }
            }

            .section4_div1_two {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 16px;
                width: auto;
                margin: 0 80px;

                i {
                    font-size: 24px;
                    color: dodgerblue;
                    background-color: rgb(226, 238, 249);
                    text-align: center;
                    width: fit-content;
                    height: auto;
                    padding: 20px;
                    margin: 0;
                    border-radius: 50%;
                }

                h4 {
                    margin: 16px 0;
                    font-weight: bold;
                    font-size: 38px;
                }

                p {
                    font-style: 28px;
                }
            }
        }

        .section4_div2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                margin: 0 18px;
                width: 300px;
                height: fit-content;
                box-shadow: 0 4px 8px 0 rgba(244, 243, 243, 0.916), 0 6px 20px 0 rgba(241, 239, 239, 0.938);
                padding: 50px 25px;

                img {
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                }

                h4 {
                    font-size: 21px;
                    margin: 0;
                    padding: 10px 0;
                }

                h6 {
                    font-size: 14px;
                    color: grey;
                    margin: 0;
                    padding: 5px 0;
                }

                p {
                    margin: 0;
                    padding: 10px 0;
                }

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        padding: 0 5px;

                        svg {
                            color: dodgerblue;
                        }
                    }
                }
            }
        }

        .section4_div3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 50px;
            text-align: center;
            margin: 8% 0 0 0;
        }

        h5 {
            color: dodgerblue;
            font-size: 17px;
            font-weight: bold;
        }

        h3 {
            font-size: 40px;
            color: rgb(42, 41, 41);
            width: 52%;
            margin: 0;
            padding: 0;
        }
    }

    .section4_div4 {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
        max-width: 94%;
        padding: 50px 0 0 6%;

        div {
            min-width: 40%;
            margin: 0 47px;

            img {
                height: 370px;
                width: 620px;
            }

            h5 {
                font-size: 21px;
                margin: 0;
                padding: 15px 0;
            }

            p {
                font-size: 14px;
                font-weight: 550;
                color: gray;
                margin: 0;
            }
        }
    }

    .Movement_button {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        i {
            font-size: 16px;
            color: white;
            padding: 15px;
            margin: 20px 15px;
            background-color: rgb(90, 184, 246);
            /* background-color: dodgerblue; */
            border-radius: 50%;
        }
    }

    /* section 5 */
    .section_5 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 100px 0;
        padding: 120px 0;

        .section_5_div1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 100px;

            h4 {
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                color: dodgerblue;
                padding: 20px 0;
            }

            h2 {
                margin: 0;
                text-align: center;
                max-width: 50%;
                font-size: 38px;
                font-weight: bold;
                word-spacing: 5px;
                color: rgb(63, 62, 62);
                /* padding: 10px 0; */
            }
        }

        .section_5_div2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 100%;
            padding: 0 7%;

            .section_5_div2_1 {
                display: flex;
                flex-direction: column;
                margin: 10px 15px;
            }

            .section_5_div2_2 {
                display: flex;
                flex-direction: column;
                margin: 10px 15px;
            }

            .section_5_div2_3 {
                display: flex;
                flex-direction: column;
                margin: 10px 15px;
            }

            .section_5_div2_div {
                display: block;
                height: fit-content;
                width: 400px;
                padding: 20px 35px;
                margin-top: 25px;
                font-size: 18px;
                color: gray;
                line-height: 27px;
                font-weight: 550;
                box-shadow: 0 4px 8px 0 rgba(221, 222, 222, 0.916), 0 6px 20px 0 rgba(206, 206, 206, 0.938);

                li {
                    list-style: none;
                    font-size: 12px;
                    color: gold;
                }

                div {
                    display: flex;
                    align-items: center;
                    padding: 0 20px;

                    img {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        * {
                            font-size: 24px;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .section_5_div3 {
            display: flex;
            padding-left: 7%;
            margin: 150px 0;

            div {
                width: 50%;

                h6 {
                    color: dodgerblue;
                    padding: 10px 0;
                    font-weight: 600;
                    margin: 10px 0;
                }

                h4 {
                    font-size: 42px;
                    color: rgb(46, 46, 46);
                    font-weight: 600;
                    margin: 10px 0;
                }

                p {
                    font-size: 17px;
                    width: 84%;
                    margin: 20px 0;
                }

                button {
                    width: 110px;
                    height: 50px;
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    background-color: rgb(90, 184, 246);
                    /* -color: rgb(73, 163, 253); */
                    border-top-right-radius: 40px;
                    border-top-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                    border-bottom-left-radius: 40px;
                }

                li {
                    display: flex;
                    align-items: center;
                    height: 64px;
                    width: 85%;
                    padding: 0 16px;
                    font-weight: 600;
                    margin: 24px 0;
                    font-size: 18px;
                    list-style: none;
                    box-shadow: 0 4px 8px 0 rgba(221, 220, 220, 0.916), 0 6px 20px 0 rgba(204, 204, 204, 0.938);

                    i {
                        font-size: 12px;
                        margin: 0 4px;
                        color: dodgerblue;
                        font-weight: bold;
                    }
                }
            }
        }
    }



    /* Section 6 */
    .section_6 {
        background-color: #060606;
        color: white;
        padding: 120px 0;

        li {
            list-style: none;
        }

        .section_6_footer {
            svg {
                position: absolute;
                top: 775vh;
                z-index: -1;
            }

        }

        .section_6_div1 {
            display: flex;
            margin: 60px 0;

            div {
                display: flex;
                flex-direction: row-reverse;
                width: 50%;
                padding: 0 100px;

                h4 {
                    font-size: 38px;
                    font-weight: 600;
                }

                button {
                    height: 55px;
                    width: 170px;
                    font-size: 17px;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(90, 184, 246);
                    /* background-color: dodgerblue; */
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    border: none;
                }
            }
        }

        .section_6_div2 {
            display: flex;
            margin: 60px 0 0 0;

            div {
                margin: 0 0 0 7%;
                width: 15%;

                h4 {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    width: 70%;
                    margin: 6px 0;
                    padding: 0;
                }
            }

            .section_6_div2_div4 {
                width: 25%;

                li {
                    list-style: none;
                }

                .li {
                    list-style: none;
                    display: flex;
                    width: fit-content;
                    border: 0.1px solid gray;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border-top-left-radius: 8px;
                    align-items: center;

                    input {
                        font-size: 18px;
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                        background: transparent;
                        text-align: center;
                        border: none;
                    }

                    button {
                        font-size: 18px;
                        height: 55px;
                        width: 120px;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        background-color: rgb(90, 184, 246);
                        /* background-color: dodgerblue; */
                        color: white;
                        font-weight: bold;
                        border: none;
                    }
                }

                h4 {
                    border: none;
                }

                p {
                    border: none;
                }
            }
        }
    }
}